// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

header {
  position: fixed;
  z-index: 1;
}

/* para la imagen del main y su texto superpuesto */
.main {
  position: relative;
  display: block;
  padding-top: 90px;

  .main__text {
    position: absolute;
    top: 30%;
    left: 20%;
    animation: fadeIn 5s;
  }

  .main_first_image {
    width: 100%;
    height: 400px;

  }

}

//contenedor servicios
.main_services {
  position: relative;

  img {
    width: 100%;
    height: 50%;

  }

  .main_services_text {
    position: absolute;
    top: 10%;
    right: 50%;
    left: 20%;
    background-color: #fff;
    padding: 5px;
    
  }

}

//Iconos de productos
.item_product {

  &:hover {
    transform: translate(1rem);

  }
}

.texto_seccion {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
}



footer {

  margin-left: 10px;
  margin-top: 10px;
  background-color: black;
  color: white;
}

.main_contacto {
  position: relative;
  background-image: url(../img/proyectos.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
}
.div_transparente {
  position: absolute;
  right: 0px;
  background-color:white;
  z-index: 0;
  opacity: 0.8;

  span{
    color: #fff;
  }
}

.contact_div_transparente {
  position: absolute;
  bottom: 20px;
  right: 0px;
  background-color:black;
  z-index: 0;
  opacity: 0.8;

  span{
    color: #fff;
  }

  input {
    width: 100%;
  }
  textarea{
    width: 100%;
  }
}
.services{
  position: relative;
  background-image: url(../img/servicio.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
}
.main_services_text {
  position: absolute;
  top: 10%;
  right: 50%;
  left: 20%;
  background-color: #fff;
  padding: 5px;
}
.logi_service_text{
  position: absolute;
  top: 10%;
  right: 0%;
  background-color: #fff;
  padding: 5px;
}
.divisor{
  height: 20px;
}
.icono_whatsapp{
  width: 50px;
}